@font-face {
  font-family: "orbitron";
  src: url(../fonts/fonts_converted/orbitron/Orbitron-Regular.woff);
}

@font-face {
  font-family: "handjet";
  src: url(../fonts/fonts_converted/handjet/Handjet-Light.woff);
}

@font-face {
  font-family: "doto";
  src: url(../fonts/fonts_converted/doto/Doto-Light.woff);
}

@font-face {
  font-family: "sunflower";
  src: url(../fonts/fonts_converted/sunflower/Sunflower-Medium.woff);
}

@font-face {
  font-family: "geofill";
  src: url(../fonts/fonts_converted/geostar/GeostarFill-Regular.woff);
}

@font-face {
  font-family: "vt323";
  src: url(../fonts/fonts_converted/vt323/VT323-Regular.woff);
}

/* colors */
:root {
  --bg-color: #1a1919;
  --lines-color: #f1efef;

  /* shadows */
  --shadow-color: 0px 2px 20px rgba(255, 155, 255, 0.37);
  --h1-shadow: 0px 2px 25px rgba(255, 155, 255, 0.54);
  --h3-shadow: 2px 2px 10px rgba(255, 155, 255, 0.5);
  --pic-shadow: 2px 3px 30px rgba(255, 155, 255, 0.55);

  /* fonts */
  --h1-font: "orbitron";
  --h2-font: "orbitron";
  --h3-font: "doto";
  --p-font: "sunflower";
  --nav-font: "geofill";
  --cta-font: "vt323";

  /* sizes */
  --h1-size: 48px;
  --h2-size: 42px;
  --h3-size: 36px;
  --p-size: 20px;
  --nav-size: 48px;
  --cta-size: 32px;

  /* margins */
  --h2-margin: 10px 0 15px 10px;
  --p-margin: 5px 0 15px 10px;
}
