* {
  text-decoration: none;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}

main {
  padding: 0 10px 15px 10px;
}

h1 {
  font-family: var(--h1-font);
  font-size: var(--h1-size);
  color: var(--lines-color);
  margin: 20px 0px 25px 10px;
  text-shadow: var(--h1-shadow);
}

h2 {
  font-family: var(--h2-font);
  font-size: var(--h2-size);
  color: var(--lines-color);
  margin: var(--h2-margin);
  text-shadow: var(--h1-shadow);
}

h3 {
  font-family: var(--h3-font);
  font-size: var(--h3-size);
  color: var(--lines-color);
  text-shadow: var(--h3-shadow);
  margin-left: 12px;
}

p {
  font-family: var(--p-font);
  font-size: var(--p-size);
  color: var(--lines-color);
  margin: var(--p-margin);
}

a {
  font-family: var(--p-font);
  font-size: var(--p-size);
  color: var(--lines-color);
  margin: var(--p-margin);
}

ul {
  padding: 0px;
}

nav a {
  font-family: var(--h1-font);
  color: var(--lines-color);
  font-size: 245%;
  transition: 0.25s;
  text-shadow: var(--h3-shadow);
}

.navhelp {
  color: var(--bg-color);
  background-color: var(--lines-color);
  text-shadow: 0px 3px 10px var(--bg-color);
}

@media (width < 675px) {
  nav a {
    font-family: var(--h1-font);
    color: var(--lines-color);
    font-size: 130%;
    transition: 0.25s;
  }

  nav a:hover {
    text-shadow: 0px -7px 10px rgba(155, 155, 155, 1);
    font-size: 133%;
  }
}

@media (width > 675px) {
  nav a:hover {
    text-shadow: 0px -7px 10px rgba(155, 155, 155, 1);
    font-size: 248%;
  }
}

nav li {
  text-align: center;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  border-bottom: 7px var(--lines-color) solid;
  box-shadow: var(--shadow-color);
}

nav li:first-child {
  border-right: 7px var(--lines-color) solid;
}

nav li:last-child {
  border-left: 7px var(--lines-color) solid;
}

.cta {
  border: 7px var(--lines-color) solid;
  width: auto;
  color: var(--lines-color);
  font-family: var(--cta-font);
  font-size: var(--cta-size);
  text-align: center;
  padding: 5px 60px 7px 60px;
  transition: 0.5s;
  place-self: center;
  margin: 7px;
  padding-top: 10px;
  box-shadow: var(--shadow-color);
}

.cta:hover {
  background-color: var(--lines-color);
  color: var(--bg-color);
  box-shadow: 5px -5px 10px 5px rgba(155, 155, 155, 0.4);
}

.grid_4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer {
  border-top: 7px var(--lines-color) solid;
  padding: 10px 0 0 30px;
}

footer p {
  color: var(--lines-color);
  margin-bottom: 10px;
}

.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
