#pupil {
  transition: transform 0.15s ease-out;
}

/* #pupil.glow {
  filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.5));
  transition: filter 0.5s ease;
} */

.eye {
  display: block;
  margin: 0 auto;
  max-height: 300px;
}

.grid_4 h1 {
  display: block;
  /* font-size: 80px; */
  text-shadow: 0 0 4px white;
}

.grid_4 p {
  display: block;
  font-family: var(--h3-font);
  text-shadow: 0 2px 7px white;
}

.grid_4 > div {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5px;
}

main p {
  padding-right: 10px;
}

.initial {
  width: auto;
}

/* .initial h1 {
  font-size: clamp(2.5rem, 6vw, 5rem);
}

.initial p {
  font-size: clamp(1rem, 2.2vw, 1.6rem);
} */

@media (width < 675px) {
  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .indexcta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 4em;
  }

  .initial h1 {
    font-size: 2.2rem;
  }
  .initial p {
    font-size: 0.95rem;
  }

  .cta {
    width: 120px;
    height: 50px;
    padding: 15px 25px 10px 25px;
  }
}

@media (width > 675px) {
  .indexcta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: 4em;
  }

  .cta {
    width: 6em;
    height: 60px;
    padding-top: 30px;
  }
}
